@charset "UTF-8";

//컬러시스템
$pri-color-1: #2c3e50;
$pri-color-2: #52b3d9;
$pri-color-3: #ffffff;

$sec-color-1: #68c3a3;
$sec-color-2: #333333;
$sec-color-3: #eeeeee;

$point-color-1: #ffc90e;
$point-color-2: #fcf8e3;

#wrap {
	position: relative;
	min-width: 1200px;

	> .loading {
		// display: flex;
		// justify-content: center;
		// align-items: center; //얘도 아래 p에 po:a~trans랑 결과 같음

		//브라우저 창에 요소를 꽉채우고 싶을 때
		//아래처럼 po:f 후 l, r, t, b 0으로 다 주기
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		background-color: $pri-color-3;
		> p {
			position: absolute; //
			left: 50%; //
			top: 50%; //

			width: 64px;
			height: 64px;
			text-indent: -9999px;
			background-image: url(./../images/loading.gif);

			//중요!!본인 크기의 반 만큼 더 가야 딱 반임
			transform: translate(-50%, -50%);
		}
	} //end of loading

	> h1 {
		position: absolute;
		left: 50%;
		top: 160px;
		z-index: 100;
		color: $pri-color-3;
		font-size: 24px;
		text-transform: uppercase;
		transform: translate(-50%, 0);
		// border: 1px solid #000;
	}

	> #home {
		overflow: hidden;
		position: relative;

		> .intro {
			position: absolute;
			left: 0;
			top: 35%;
			width: 100%;
			text-align: center;
			// border: 1px solid #fff;
			> h2 {
				color: $pri-color-2;
				font-size: 60px;
				line-height: 80px;

				> span {
					color: #7a3dc0;
				}
			} //end of h2

			> p {
				margin-top: 24px;
				color: $pri-color-3;
				line-height: 1.8;
				letter-spacing: 1;
			} //end of p
		} //end of .intro

		> .bgmov {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;

			> video {
				//부모한테 꽉 차게 하기 위해서
				min-width: 100%;
				min-height: 100%;
			}
		} //end of .bgmov
	} //end of home
} //end of #wrap
